fastapi
uvicorn[standard]
python-dotenv
pymongo
motor
pydantic
pydantic-settings
pyjwt
passlib[bcrypt]
python-multipart
email-validator
python-jose[cryptography]
stytch
numpy
tflite-runtime
Pillow
beautifulsoup4
requests
stream-chat
stripe>=10.0.0
